body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    margin: 0;
  }
  
  .book-container {
    display: flex;
    align-items: center;
  }
  
  .book {
    width: 392px;
    height: 698px;
    position: relative;
  }
  
  .page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none; /* Hide all pages by default */
  }
  
  .page img {
    width: 100%;
    height: 100%;
    object-fit: relative ;
  }
  
  .page.active {
    display: block; /* Only show the active page */
  }
  
  .arrow {
    font-size: 3rem;
    cursor: pointer;
    padding: 0 20px;
    user-select: none;
  }
  .top-right-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #002;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  body {
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

.slack-box {
    width: 200px;
    height: 100px;
    background-color: #4A154B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slack-box:hover {
    background-color: #7F3B8A;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
    transform: scale(1.2);
    z-index: 100; 
}

  .top-right-button:hover {
    background-color: #005;
  }
  #left-arrow {
    display: none; /* Hide the left arrow on the first page */
  }
  
  @media screen and (max-width: 600px) {
    .arrow {
      font-size: 2rem;
    }
  }
  